services:
  traefik:
    image: traefik:v3
    container_name: traefik
    command:
    - --api.insecure=true
    - --providers.docker
    - --log.level=DEBUG
    - --experimental.localPlugins.anystatic.modulename=github.com/wtnb75/anystatic
    ports:
    - 80:80
    - 8800:8080
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - ./:/plugins-local/src/github.com/wtnb75/anystatic
    - ./website:/files:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.myrt.rule: Host(`static.localhost`)
      traefik.http.routers.myrt.middlewares: myst
      traefik.http.middlewares.myst.plugin.anystatic.rootdir: /files
